
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    font-family: 'archivo black', sans-serif;
}
.experience {
    width: 100%;
    width: calc(100%-280px);
    height: 100vh;
}
.image-index-container {
    width: 280px;
    height: 100vh;
    background-color: rgb(245, 166, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-index-frame {
    width: 100px;
    height: 100px;
    border: 5px solid whitesmoke;
    border-radius: 50%;
    overflow: hidden;
}
#me {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.index {
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    color: white;
    margin-right: 25px;
}
#address { 
    color: rgb(64, 133, 224);
    font-style: italic;
    font-size: 13px;
}
#introduction-summery {
    color: rgb(41, 39, 63);
    font-weight: bold;
}
.introduction {
    margin: auto auto auto 30px ;
    max-width: 1000px;
}
h1 {font-family: 'archivo black', sans-serif;
    font-size: 45px;
    color:#f7aa1b;
}
h2 {
    font-family: 'archivo black', sans-serif;   
    font-size: 25px;
    color: rgb(31, 45, 201);
}
#nickname {
    font-size:45px;
    color: rgb(99, 97, 97);
    font-family: 'archivo black', sans-serif;
}
body {font-family: 'archivo', Arial, Helvetica, sans-serif;
}

#link {padding: 20px 0;
    list-style-type: none;
    font-style: italic;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
}
a {text-decoration-line: none;}
.experience-detail {
    padding-bottom: 20px;
    word-break: normal;
}
